html{
	font-family: Arial, Helvetica, sans-serif;
}
body{
	margin-top: 0px; 
}
header{
	background-color: #ffffff;
	margin-top: 0px;
}

content{
	display: block;
	margin-top: 10px;
	background-image: url("../resources/base.jpg");
	background-repeat: repeat
}

#grid1{
background: -moz-linear-gradient(top, rgba(0,0,0,0.50), #ffffff 10%); /* FF3.6-15 */
//background: -webkit-linear-gradient(top, rgba(0,0,0,0.50) 0%,#ffffff 10%); /* Chrome10-25,Safari5.1-6 */
//background: linear-gradient(to bottom, rgba(0,0,0,0.50) 0%,#ffffff 10%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.my-content{
	max-width: 960px;
	margin: auto;
	position: relative;
	background-color: #ffffff; 
}

.link1{
	float: right;
	font-weight: bold;
	font-size: 12px;
	color: #1486ba;
	margin-top: 8px;
}

.clearfix::after{
	visibility: hidden;
	content: "";
	height: 0;
	display: block;
	clear: both;
}

.link1 span:nth-child(1){
	padding: 8px 20px; 
}

.link1 span:nth-child(2){
	padding: 8px 20px;
	background-color: #f3f2f2; 
}

.logo{
	color: #cb3f74;
	float: left;	
}
.header-text{
	float: left;
	padding: 23px 20px;
	font-size: 28px;
}

.phone-no{
	float: right;
	padding: 30px 10px 0px 10px;
	font-weight: bold;
}

.phone-no span:nth-child(1){
	font-size: 12px;
}

.phone-no span:nth-child(3){
	font-size: 18px;
	color: #269fd7;
}

.phone-no span:nth-child(3) a{
	text-decoration: none;
	color: #269fd7;
}

.phone-icon{
	float: right;
	padding-top: 35px;
}


.my-breadcrumb{
	background-color: #11516f;
	font-size: 11px;
	color: #ffffff;
	padding: 12px 0px 12px 21px;
}

.my-breadcrumb img{
	margin: 0px 4px;
}

.form1-div{
	background-image: url(../resources/search_bk.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 32px;
	padding-bottom: 2px;
}

.form-logo{
	float: left;
	padding: 5px 0 0 42px;
}

.search-form{
	float: right;
	max-width: 52%;
	box-sizing: border-box;
	padding: 4px 0 0 6px;
}

.search-form input{
	float: left;
	font-size: 14px;
	color: #666666;
	padding: 14px 0px 14px 17px;
	width: 72%;
	border-radius: 9px;
	border: none;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5) inset;
}

.search-form p{
	font-size: 15px;
	margin-top: 10px;
	word-spacing: 120%;
	letter-spacing: 0.02em;
	font-weight: bold;
	color: #fff;
	box-sizing: border-box;
	padding-right: 20px;
}

.slider-div{
	margin-top: -10px;
}

.cycle-slideshow{
	width: 100%;
	max-width: 100%;
}

.cycle-overlay{
	padding-left: 35px;
	height: 51px;
	opacity: 1;
	background-color: rgba(0,0,0,0.5);
}

.cycle-overlay div:nth-child(1){
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	margin-top: -8px;
}

.cycle-overlay div:nth-child(2){
	font-size: 12px;
	color: #fff;
}

 .my-pager{
	position:absolute;
	bottom: 10px;
	right: 10px;
	top: auto !important;
	width: auto !important;
	margin-right: 6px;
	}

.my-pager span{
	font-size: 28px;
	width: 13px;
	color: rgba(139,139,139,1);
}

.my-pager span.cycle-pager-active{
	//color: #56aace;
	color: #ffffff;
}

.categories{
	box-sizing: border-box;
	float: left;
	width: 18.8%;
	margin-left: 20px;
	border: 1px solid #f2f2f2;
	padding: 17px 0 0 17px;
	background-color: #fafafa;
	height: 318px;
	margin-top: 10px;
}

.categories ul{
	padding-left: 0px;
	margin: 5px 0 0 0;
}

.categories label{
  font-size: 14px;
  color: #06628d;
  font-weight: bold;
}

.categories li{
	list-style: none;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	padding: 4px 0 6px 0;
}

.block1{
	position: relative;
}

hr{
	color:rgba(242,242,242,0.2);
	margin-top: 4px;
	width: 90%;
	float: left;
	margin-bottom: 11px;
}

.horizontal-line{
	border: 0.5px solid #f2f2f2;
}

.featured-company{
	box-sizing: border-box;
	float: right;
	width: 75%;
	margin-right: 20px;
	border: 1px solid #f2f2f2;
	padding: 20px 0 0 27px;
	//background-color: #fafafa;
	height: 318px;
	margin-top: 10px;
}

.featured-company-title{
	border-bottom: 1px solid #eeeeee;
	height: 27px;
	width: 96%;
}

.featured-company-title label{
	font-size: 14px;
	color: #06628d;
  	font-weight: bold;
}

.featured-company-title span{
	float: right;
	font-size: 11px;
	color: #06628d;
  	font-weight: bold;
  	padding-top: 6px;
}

.company-detail-block1{
	border-bottom: 1px solid #eeeeee;
	height: 83px;
	width: 96%;
}

.company-detail{
	width: 50%;
	float: left;
}

.company-detail>img{
	float: left;
	padding-top: 16px;
}

.company-desc{
	float: left;
	width: 80%;
	padding: 10px 0 0 10px;
}

.company-desc label{
	font-size: 12px;
	font-weight: bold;
}

.company-desc p{
	font-size: 11px;
	margin-top: 7px;
}

.company-detail-padding1{
	box-sizing: border-box;
	padding-left: 16px;
}


.company-detail-block2{
	height: 184px;
	width: 100%;
}

.company-detail-block21{
	width: 50%;
	float: left;
}

.company-detail-block211{
}

.company-detail-block211>img{
	float: left;
	padding-top: 20px;
}

.company-detail-block211 label{
	font-size: 12px;
	font-weight: bold;
}

.company-detail-block211 p{
	font-size: 11px;
	margin-top: 7px;
}

.company-detail-block22{
	width: 50%;
	float: left;
	height: 184px;
	background-color: #ecf9ff;
}

.company-desc1{
	float: left;
	width: 80%;
	padding: 14px 0 0 10px;
}

.small-border{
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 8px;
}

.company-detail-block22 img{
	padding: 17px 0 0 82px;
}

.large-ad{
	float: left;
	width: 18%;
	margin: 20px 0 0 30px;
}

.featured-articles{
	width: 75%;
	margin-right: 20px;
	float: right;
	height: 318px;
	margin-top: 20px;
	border: 1px solid #eeeeee;
	padding: 22px 0 0 27px;
	box-sizing: border-box;
}

.featured-articles-title{
	border-bottom: 1px solid #eeeeee;
	height: 25px;
	width: 97%;
}

.featured-articles-title label{
	font-size: 14px;
	color: #06628d;
  	font-weight: bold;
}

.featured-articles-title span{
	float: right;
	font-size: 11px;
	color: #06628d;
  	font-weight: bold;
  	padding-top: 6px;
  	margin-right: 4px;
}

.featured-articles-margin{
	margin-top: 5px;
}

.featured-articles-border{
	border-bottom: none !important;
}

.blue-span{
	color: #06628d;
	font-weight: bold;
}

.gray-span{
	color: #999999;
	font-size: 11px;
	margin-left: 10px;
}

/*---------------------------------------------------*/
.featured-articles-detail-block1{
	border-bottom: 1px solid #eeeeee;
	height: 83px;
	width: 98%;
}

.featured-articles-detail{
	width: 50%;
	float: left;
}

.featured-articles-detail>img{
	float: left;
	padding-top: 16px;
}

.featured-articles-desc{
	float: left;
	width: 80%;
	padding: 10px 0 0 10px;
}

.featured-articles-desc label{
	font-size: 12px;
	font-weight: bold;
}

.featured-articles-desc p{
	font-size: 11px;
	margin-top: 7px;
}

.featured-articles-detail-padding1{
	box-sizing: border-box;
	padding-left: 9px;
}


/*--------------------------------------------------*/

.block3{
	width: 75%;
	float: right;
	margin-right: 19px;
	margin-top: 20px;
}

.featured-whitepapers{
	width: 44.5%;
	border: 1px solid #eeeeee;
	padding: 22px 0 0 27px;
	height: 623px;
	float: left;
}

.featured-videos{
	width: 44.9%;
	border: 1px solid #eeeeee;
	padding: 22px 0 0 24px;
	height: 623px;
	float: left;
	margin-left: 21px;
}

.featured-whitepapers-title{
	border-bottom: 1px solid #eeeeee;
	height: 25px;
	width: 97%;
}

.featured-whitepapers-title label{
	font-size: 14px;
	color: #06628d;
  	font-weight: bold;
}

.featured-whitepapers-title span{
	float: right;
	font-size: 11px;
	color: #06628d;
  	font-weight: bold;
  	padding-top: 8px;
  	margin-right: 10px;
}

/*---------------------------*/
.featured-whitepapers-detail{
	width: 92%;
	padding-bottom: 11px;
	border-bottom: 1px solid #eeeeee;
}

.featured-whitepapers-detail>img{
	float: left;
	padding-top: 16px;
}

.featured-whitepapers-desc{
	float: left;
	width: 69%;
	padding: 10px 0 0 20px;
}

.featured-whitepapers-desc label{
	font-size: 12px;
	font-weight: bold;
}

.featured-whitepapers-desc p{
	font-size: 11px;
	margin-top: 9px;
}

.featured-whitepapers-detail-padding1{
	box-sizing: border-box;
	padding-left: 9px;
}

/*--------------------------------------------*/
.featured-videos-title{
	border-bottom: 1px solid #eeeeee;
	height: 25px;
	width: 92.5%;
	margin-left: 3px;
}

.featured-videos-title label{
	font-size: 14px;
	color: #06628d;
  	font-weight: bold;
}

.featured-videos-title span{
	float: right;
	font-size: 11px;
	color: #06628d;
  	font-weight: bold;
  	padding-top: 8px;
  	margin-right: 7px;
}

.featured-videos-detail{
	width: 92%;
	padding-bottom: 6px;
	border-bottom: 1px solid #eeeeee;
	position: relative;
}

.featured-videos-detail a img:nth-child(1){
	float: left;
	margin-top: 21px;
	width: 100px;
	height: 56px;
	}

.featured-videos-detail a img:nth-child(2){
	position: absolute;
	top: 34%;
	left: 11.8%;
}

.featured-videos-desc{
	float: left;
	width: 60%;
	padding: 23px 0 0 11px;
}

.featured-videos-desc label{
	font-size: 12px;
	font-weight: bold;
}

.featured-videos-desc p{
	font-size: 11px;
	margin-top: 9px;
}

.featured-videos-detail-padding1{
	box-sizing: border-box;
}

.big-video{
	border-bottom: 1px solid #eeeeee;
	height: 299px;
	box-sizing: border-box;
	width: 93%;
	position: relative;
}

.big-video img:nth-child(1){
	padding-top: 17px;
}

.big-video img:nth-child(2){
	position: absolute;
	left: 39%;
	top: 24%;
	}

.big-video label{
	font-size: 12px;
  	font-weight: bolder;
  	padding-left: 3px;
  	display: block;
  	margin-top: 11px;
}

.big-video p{
	font-size: 11px;
	padding-left: 1px;
	width: 92%;
}

.bottom-ad{
	height: 128px;
	background-color: #ecf9ff;
	margin-top: 42px;
}
.bottom-ad img{
	display: block;
	margin: auto;
	padding-top: 19px;
}

.free-space{
	height: 41px;
}

footer{
	width: 100%;
	background-color: #ffffff;
	height: 233px;
	//margin-top: 41px; 
	//margin-left: 16px;
	border-top: 2px solid #eeeeee;
	}
.footer-alignment{
	margin-top: 33px;
}

.footer-links{
	height: 170px;
	//margin-top: 34px;
	border-right: 1px solid #eeeeee;
	float: left;
	//margin-left: 172px;
	width: 65.5%;
}

.footer-links label{
	font-size: 14px;
	font-weight: bolder;
	display: block;
	margin-top: 0px;
	padding-bottom: 22px;
}

.footer-links ul{
	list-style: none;
	padding-left: 0px;
	margin: 0px;
}

.footer-links li{
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 4px;
}

.products-links{
	margin-left: 27px;
	width: 24%;
	float: left;
	height: 168px;
}

.network-links{
	float: left;
	margin-left: 20px;
	width: 17%;
	height: 168px;
}

.company-links{
	float: left;
	margin-left: 37px;
	width: 19%;
	height: 168px;
}

.site-links{
	float: left;
	margin-left: 22px;
	width: 18%;
	height: 168px;
}

.footer-logo{
	float: left;
	width: 25%;
	height: 204px;
}

.footer-logo img{
	margin: 21px 0 0 49px;
}